html,
body,
#root {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.canvas-wrap {
  width: 100%;
  padding: 20px;
  height: 50%;
}
.atom-wrap {
  display: flex;
}

.canvas-container {
  width: 50%;
}
